* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 0.3rem 0.6rem;
}

p {
    font-size: large;
    color: rgb(62, 61, 61);
    margin: 0.8rem;
}

ul {
    list-style: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 1rem auto;
    padding: 2rem 5rem;
}

.container {
    max-width: 70% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}